/*DD Functional Common Styles*/
*{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}
.osr{
  font-family: 'Open Sans', sans-serif;
}
.osl{
  font-family: 'Open Sans', sans-serif;
  font-weight:300
}
.ossb{
  font-family: 'Open Sans', sans-serif;
  font-weight:600 
}
.osb{
  font-family: 'Open Sans', sans-serif;
  font-weight:700
}
.comm-btn-default{
  border: 1px solid #3b5083;
  min-width:210px;
  color:#3b5083;
  font-weight:600;
  font-size:14px;
  border-radius:4px;
}
.comm-btn-default:hover{
  background-color: #3b5083;
  color:#fff;
  font-weight:600 
}
.comm-btn-disabled{
  border: 1px solid #9b9b9b;
  min-width:210px;
  color:#bfbfbf;
  background-color: #e2e2e2;
  font-weight:600;
  font-size:14px;
  border-radius:4px;
}
.comm-wrapper{
  width:90%;
  margin:0 auto;
}

/*Footer Styles*/
.footer-wrapper{
  background: rgba(18, 66, 132, 0.1);
  color: #4a4a4a;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-wrapper textarea{
  width: 100%;
  font-style: italic;
}
.footer-line{
  margin-bottom:20px;
  font-size: 10px;
}
.footer-line1{
  margin-bottom:10px;
  font-size: 12px
}
.footer-col2{
  padding-bottom:8px;
}
.footer-col2 .head-text, .footer-col3 .head-text{
  color: #305b83;
  text-transform:uppercase;
  font-weight: bold;
}
.footer-col2 div, .footer-col2 p, .footer-col3 div, .footer-col3 p{
  font-size:12px;
  margin-bottom: 10px;
}
.footer-col2 p, .footer-col3 p{
  margin-bottom: 0px;
}

