/* Make the image fully responsive */
body{
  font-family:'Open Sans';
}

.carousel-caption {
 text-align: start;
 left: 4%;
}

.carousel-collaborate-location {
  font-family:'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: normal;
  color: white;
  vertical-align: middle;
}

.collaboration-container {
  margin: 150px 55px 55px;
}

.collaboration-cta {
  background-color:#305b83;
  color: white;
  padding: 10px;
  margin-right: 100px;
}

.share-intrest-topic {
  width: 440px;
  margin-top: 60px;
}

.share-intrest-row{
  margin-left: 2px;
  margin-bottom: 50px;
}

.share-intrest-note{
  font-size: 11px;
}

.conduct-event-modal button.close{
  padding-top: 0px;
  text-align: right;
  margin-right: 20px: 
}
